   /* codigo switch */
  
   .lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background:black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
   }
  
   .lbl-switch::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
   }
  
   #btn-switch {
    display: none;
   }
  
   #btn-switch:checked~ .lbl-switch::after {
    left: 28px;
   }
  
   #btn-switch:checked~ .lbl-switch {
    background: green;
   }

   /*switch 2*/
  
   #btn-switch2 {
    display: none;
   }

  
   #btn-switch2:checked~ .lbl-switch::after {
    left: 28px;
   }
  
   #btn-switch2:checked~ .lbl-switch {
    background: green;
   }
  
   .lbl-switch2 {
    display: inline-block;
    width: 55px;
    height: 30px;
    background:black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
   }
  
   .lbl-switch2::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
   }

   /*switch 3*/

   #btn-switch3 {
      display: none;
     }

   #btn-switch3:checked~ .lbl-switch::after {
      left: 28px;
     }
    
     #btn-switch3:checked~ .lbl-switch {
      background: green;
     }
    
     .lbl-switch3 {
      display: inline-block;
      width: 55px;
      height: 30px;
      background:black;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
     }
    
     .lbl-switch3::after {
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      background: white;
      border-radius: 100px;
      top: 4px;
      left: 5px;
      transition: 0.3s;
     }
  
  
 
 
 /* switch positivo*/
 #btn-switch-positivo {
    display: none;
   }
  
   #btn-switch-positivo:checked~ .lbl-switch-positivo::after {
    right:  28px;
   }
  
   #btn-switch-positivo:checked~ .lbl-switch-positivo {
    background: black ;
   }
  
   .lbl-switch-positivo {
    display: inline-block;
    width: 55px;
    height: 30px;
    background:green;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
   }
  
   .lbl-switch-positivo::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 100px;
    top: 4px;
    right: 5px;
    transition: 0.3s;
   }

   /*switch positivo 2*/
   #btn-switch-positivo1 {
      display: none;
     }
    
     #btn-switch-positivo1:checked~ .lbl-switch-positivo1::after {
      right:  28px;
     }
    
     #btn-switch-positivo1:checked~ .lbl-switch-positivo1 {
      background: black ;
     }
    
     .lbl-switch-positivo1 {
      display: inline-block;
      width: 55px;
      height: 30px;
      background:green;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
     }
    
     .lbl-switch-positivo1::after {
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      background: white;
      border-radius: 100px;
      top: 4px;
      right: 5px;
      transition: 0.3s;
     }

     /*switch chat GPT*/

     .switch-container {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 0 10px;
    }
    
    .switch-container input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .switch-label {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }
    
    .switch-label:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
    
    .switch-container input[type="checkbox"]:checked + .switch-label {
      background-color: #2196f3;
    }
    
    .switch-container input[type="checkbox"]:checked + .switch-label:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    